*.class
*.patch

# Intellij #
.idea
*.iml
.idea/

# File-based project format #
*.ipr
*.iws


# Maven #
target/


# os #
.directory

# Package Files #
*.jar
*.war
*.ear

# Ignore release temp files, and version change backups #
.gitattributes
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties


